<!DOCTYPE html>
<html lang="{{ idioma }}">
  <head>
    <meta name="description" content="Uma página de exemplo" />
    <meta name="keywords" content="exemplo, aula, ansible" />
    <title>Uma Página de Exemplo</title>
  </head>
  <body>
    <p>
      Ola colegas da PUC.
    </p>
  </body>
</html>
